//colors
$black: #130E14;
$dark-grey: #80767E;
$grey: #D6D1D5;
$light-grey: #EFECEC;
$white: #FFFFFF;

$magenta: #F7487C;
$yellow: #ffca3a;
$cyan: #29C3F2;

$shadow: #130E1444;

//fonts
$header-font: Syncopate;
$copy-font: Exo2;
$copy-font-l: Exo2-l;

//font sizes

$font-xxl: 3em;
$font-xl: 2em;
$font-l: 1.6em;
$font-r: 1.2em;
$font-s: .6em;

//spacing
$spacing-xl: 12px;
$spacing-l: 6px;

//padding
$page-fullpadding: 4vw;
$page-sidepadding: 0 4vw;
